.env
datadir_*
gdatadir_*
backups_*
gbackups_*
reports/
ssl/
profile_galera
profile_repli
id_rsa
id_rsa.pub
*.log
*.err
*.swp
.DS_Store
multi-db-docker-env.code-workspace
__pycache__/** 
datadir_*/**
gbackups_*/**