[mariadb]

# --- Core Settings ---
# Unique server identification (Slave 1)
server-id=2
# Enable binary logging
log-bin=mariadb-bin
# Set binary log format to ROW
binlog-format=row
# Allow connections from any IP
bind-address=0.0.0.0

# --- Advanced Replication & Networking ---
# Enforce GTID consistency
gtid_strict_mode=1
# Trusted networks for PROXY protocol
proxy_protocol_networks=10.5.0.0/24,10.6.0.0/24
# Binary log expiration period (2 days)
binlog_expire_logs_seconds=172800

# --- Performance Schema (PFS) ---
# Enable the engine
performance_schema = ON

# History size per thread (Default is often 10)
# Allows viewing the last N transactions for a specific connection
performance_schema_events_transactions_history_size = 2000

# Global history size (Default is often 10000)
# Increasing this value is crucial for capturing transient events on a busy server
performance_schema_events_transactions_history_long_size = 50000
# Force activation of transaction consumers at startup
performance-schema-consumer-events-transactions-history = ON
performance-schema-consumer-events-transactions-history-long = ON

# --- Slow Query Logging ---
# Enable the slow query log
slow_query_log = 1
# Log queries slower than 2 seconds
long_query_time = 2.0
# Only log 1 out of every 5 slow queries (sampling)
log_slow_rate_limit = 5
